html,body{height:100%!important;margin:0}body{background:url(../img/star.jpg)center/cover no-repeat}#text{position:absolute;left:35%;bottom:0;text-align:center;color:#fff}a{text-decoration:none}td{vertical-align:middle}
.b {background:transparent;border:none;}
a {text-decoration:none;}